<%- include('header') %>
<h2>
  Editar Categoria:
  <a href="/admin/categorias">Categorias</a>
</h2>
<div>
  <form method="POST">
    <label>Categoria:</label>
    <input type="text" name="categoria" value="<%= categorias.categoria %>" />
    <br/>
    
    <button type="submit">Salvar Categoria</button>
  </form>
</div>
<%- include('footer')%>
