<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>FullStack Lab - Aula 02</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="/estilos.css" rel="stylesheet"/>
  </head>
  <body>
    <h1><a href="/"><img src="/images/logo.png" alt="Jobify - By DevPleno" /></a></h1>
    <p>We are Jobify - Join US!</p>