body {
  font-family: "Roboto", "sans-serif";
}

p {
  text-align: center;
}
h1 {
  text-align: center;
}
ul {
  list-style: none;
  padding-left: 16;
}
li {
  margin: 0;
}
h2 {
  background-color: #c4c4c4;
  padding: 8px;
  font-size: 24px;
}
h3 {
  font-size: 24px;
}

label {
  display: block;
  margin: 20px 0 4px 0;
}

input,
select {
  display: block;
  padding: 8px;
  width: 540px;
}

button {
  padding: 12px;
}
textarea {
  padding: 8px;
  width: 540px;
  height: 320px;
}
